#big {
  scale: 0.85;
  animation-name: rotation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  //centro rotacion
  transform-origin: 29% 29%;
}
#small {
  scale: 0.85;
  animation-name: rotation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  //centro rotacion
  transform-origin: 17% 17%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_index {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(189, 189, 189, 0.55),
      rgba(187, 187, 187, 0.55)
    ),
    url(../img/index/fondo_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  @media (max-width: 576px){
    background: linear-gradient(
      rgba(189, 189, 189, 0.55),
      rgba(187, 187, 187, 0.55)
    ),
    url(../img/index/mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  }
  &_container {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 12%;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    &_containerText {
      width: 55%;
      height: 100%;
      padding-left: 7%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // padding-top: 15%;
      @media (max-width: 992px) {
        padding-left: 0;
        width: 100%;
      }
      & h1 {
        font-size: 4rem;
        font-weight: 700;
        @media (max-width: 992px) {
          padding-top: 12%;
          font-size: 4rem;
          text-align: center;
        }
        @media (max-width: 576px) {
          padding-top: 18%;
          font-size: 2.25rem;
          text-align: center;
        }
      }
      & h3 {
        font-size: 1.75rem;
        font-weight: 400;
        @media (max-width: 992px) {
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
        }
        @media (max-width: 576px) {
          text-align: center;
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    &_containerEngranajes {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-right: 10%;
      @media (max-width: 992px) {
        padding-right: 0;
        width: 100%;
      }
      &_engranajes {
        scale: 2.25;
        @media (max-width: 992px) {
          scale: 2;
        }
        @media (max-width: 576px) {
          scale: 1.25;
        }
      }
    }
  }
}

.servicios_container {
  width: 100%;
  min-height: 80vh;
  background-color: whitesmoke;
  &_animationContainer {
    &_text {
      padding-right: 15%;
      padding-top: 11%;
      @media (max-width: 576px) {
        padding-right: 5%;
        padding-top: 10%;
      }
      @media (min-width: 577px) and (max-width: 992px) {
        padding-right: 10%;
        padding-top: 10%;
      }
      & h2 {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 1dvh;
        @media (max-width: 576px) {
          font-size: 2.75rem;
        }
        @media (min-width: 577px) and (max-width: 992px) {
          font-size: 3rem;
        }
      }
      & h5 {
        font-size: 3rem;
        font-weight: 300;
        padding: 3% 0;
        @media (max-width: 576px) {
          font-size: 1.5rem;
        }
        @media (min-width: 577px) and (max-width: 992px) {
          font-size: 2.5rem;
        }
        @media (min-width: 992px) {
          &:hover {
            margin-left: 20%;
            font-weight: 500;
            background-color: #ffa600;
          }
        }
      }
    }
  }
  &_textContainer {
    padding: 0 15%;
    @media (max-width: 576px) {
      padding: 0 10%;
    }
    @media (min-width: 577px) and (max-width: 992px) {
      padding: 2.5% 20%;
    }
    & p {
      font-size: 1.25rem;
      font-weight: 400;
      padding: 3% 0;
      color: #444444;
      @media (max-width: 576px) {
        font-size: 0.9rem;
      }
      @media (min-width: 577px) and (max-width: 992px) {
        font-size: 1rem;
      }
    }
    &_button {
      padding: 2% 4.5%;
      font-size: 1.25rem;
      font-weight: 400;
      @media (max-width: 576px) {
        padding: 4% 7%;
        font-size: 1rem;
      }
      @media (min-width: 577px) and (max-width: 992px) {
        padding: 2% 4.5%;
        font-size: 1.25rem;
      }
      @media (min-width: 992px) {
        &:hover {
          background-color: #ffc107;
        }
      }
    }
  }
}

.aboutUs_container {
  display: flex;
  & h2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1dvh;
    @media (max-width: 576px) {
      letter-spacing: 0dvh;
      font-size: 2.75rem;
      text-align: center;
    }
    @media (min-width: 577px) and (max-width: 992px) {
      text-align: center;
      font-size: 3rem;
    }
  }
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: rgba(#ffa600, 0.75);
}
