* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.linea-sep {
  &-negro {
    height: 5px;
    background-color: #272727;
  }
  &-naranja {
    height: 5px;
    background-color: #ffa600;
  }
}

.wappLogoFixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  &_img {
    width: 60px;
  }
}

.bg-naranja-ligth {
  background-color: rgba(#ffa600, 0.9);
}

.bg-dark-ligth {
  background-color: rgba(#272727, 0.9);
}

.bg-dark-strong {
  background-color: #181818;
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: rgba(#ffa600, 0.75);
}
