.header {
  display: flex;
  background-color: #25272b;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  &_logo {
    display: flex;
    align-items: center;
    &_img {
      width: 50px;
      height: 50px;
      border-radius: 25%;
      margin-right: 10px;
    }
    &_text {
      font-size: 1.25rem;
      font-weight: 500;
      color: #eeeeee;
    }
  }
  &_toggle {
    display: none;
  }
  &_none {
    display: none;
  }
}

.nav {
  align-items: center;
  &_list {
    display: flex;
    align-items: center;
    &_item {
      margin: 0 10px;
      &_link {
        font-size: 1.1rem;
        padding: 10px;
        color: #eeeeee;
        border-radius: 5px;
        position: relative;
        &:after {
          content: "";
          width: 0;
          height: 4px;
          background-color: #ffae00;
          position: absolute;
          bottom: 0;
          right: 50%;
          transition: all 0.5s;
          will-change: width;
        }
        &:hover:after {
          width: 100%;
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 48px;
    justify-content: space-between;
    padding: 0 28px ;
    &_logo {
      &_img {
        width: 35px;
        height: 35px;
      }
      &_text {
        font-size: 0.9rem;
      }
    }
    &_toggle {
      display: inline;
      font-size: 2rem;
      color: #eeeeee;
      cursor: pointer;
    }
    &_close {
      position: absolute;
      right: 25px;
      display: block;
      font-size: 25px;
      border-radius: 50%;
      &:hover {
        padding: 5px;
        background-color: #ffae00;
      }
    }
  }
  .nav {
    align-items: start;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #25272b;
    color: #eeeeee;
    width: 60%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    transition: 0.5s;
    border-radius: 0 0 0 50%;
    &_show {
      right: 0;
    }
    &_list {
      display: flex;
      flex-direction: column;
      &_item{
        margin: 1rem 0;
        &_link {
          font-size: 1rem;
        }
      }
    }
  }
}
